
.back-to-top {
  border: 1px solid #000;
  position: fixed;
  padding: 10px;
  background:pink;
  font-size: 12px;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;

  &--visible {
    visibility: visible;
    opacity: 1;
  }

}